@media (max-width: 576px) {
  /*Mise en place header*/

  #parent1 {
    margin-left: 15px;
  }

  .inscription {
    margin-left: 140px;
    margin-top: -50px;
  }

  .logo {
    width: 100px;
    height: 80px;
  }

  nav ul {
    font-size: 1.2em;
    padding-top: 60px;
    padding-left: 290px;
  }

  nav ul a {
    text-decoration: underline;
  }

  #parent2 h1 {
    font-size: 1.5em;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
  }

  #parent2 p {
    font-size: 1em;
    text-align: center;
  }

  form {
    justify-content: center;
    padding-top: 5px;
  }
  #filtres p {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 15px;
  }

  #filtres ul {
    flex-wrap: wrap;
    padding-top: 35px;
  }

  #parent3 {
    padding-left: 15px;
  }
  .texte-info {
    font-size: 1.05em;
  }

  /* Fin mise en place header*/

  /*Mise en place hebergemnts et populaires*/

  #section1 {
    flex-direction: column-reverse;
  }

  #section1 h2 {
    margin-left: 25px;
    margin-top: 40px;
  }

  #hebergements {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
  }

  .carte {
    margin-left: 2px;
    margin-top: -10px;
  }

  .carte-heb {
    width: 90%;
  }

  #populaires {
    width: 68%;
  }

  #populaires h2 {
  }

  .fleche-pop {
    justify-content: space-between;
  }

  /*Fin mise en place hebergements et populaires */

  /*Mise en place activitées*/

  #section2 {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .titre-act {
    padding-left: 25px;
  }

  .partie1 {
    width: 90%;
  }

  .partie2 {
    width: 90%;
    padding-top: 40px;
    margin-right: 50px;
  }

  .partie3 {
    width: 90%;
    padding-top: 30px;
    margin-right: 50px;
  }

  .partie4 {
    width: 90%;
    padding-top: 40px;
    margin-right: 50px;
  }

  /*Fin de mise en place activitées*/

  /*Mise en place footer*/

  footer {
    flex-direction: column;
  }

  #a-propos {
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
  }

  #nos-hebergements {
    width: 100%;
    padding-left: 30px;
  }

  #assistance {
    width: 100%;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  /*Fin mise en place footer*/
}
