@media (max-width: 576px) {
  /*Mise en forme générale*/
  body {
    width: 93%;
    margin: 0;
  }
  /*Fin de mise en forme générale*/

  /*Mise en place header*/

  header {
    width: 88%;
  }

  #parent1 {
    margin-left: 14%;
  }

  .inscription {
    margin-left: 49%;
    margin-top: -50px;
  }

  .logo {
    width: 100px;
    height: 80px;
  }

  nav ul {
    font-size: 1.2em;
    padding-top: 60px;
    padding-left: 100%;
  }

  nav ul li {
    margin-left: 18%;
  }

  nav ul a {
    text-decoration: underline;
  }

  .inscription {
    margin-left: 49%%;
  }

  #parent2 h1 {
    font-size: 1em;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    margin-left: 18%;
  }

  #parent2 p {
    font-size: 1em;
    text-align: center;
    margin-right: -22%;
  }

  form {
    justify-content: center;
    padding-top: 5px;
    margin-left: -12%;
  }

  form i {
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 30px;
    height: 30px;
  }

  .bouton1 {
    display: none;
    background-color: #0065fc;
    color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 0 10px 10px 0;
  }

  .bouton2 {
    background-color: #0065fc;
    color: #fff;
    border-radius: 0 10px 10px 0;
    width: 30px;
    height: 30px;
    padding-right: 20%;
  }
  .bouton2 i {
    justify-content: center;
    padding-top: 5px;
    margin-left: -55%;
  }

  #filtres {
    display: flex;
    flex-direction: column;
  }

  #filtres p {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 15px;
    margin-bottom: 0;
  }

  #filtres ul {
    flex-wrap: wrap;
    margin-right: 20%;
    padding-top: 0;
    padding-left: 0;
  }

  #parent3 {
    padding-left: 15px;
  }
  .texte-info {
    font-size: 1.05em;
  }

  /* Fin mise en place header*/

  /*Mise en place hebergemnts et populaires*/

  #section1 {
    flex-direction: column-reverse;
    width: 88%;
  }

  #section1 h2 {
    margin-left: 25px;
    margin-top: 40px;
    font-size: 1.17em;
  }

  #hebergements {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
  }

  .carte {
    margin-left: 2px;
    margin-top: -10px;
  }

  .carte-heb {
    width: 90%;
  }

  #populaires {
    width: 111%;
    padding: 60px 14px;
  }

  #populaires h2 {
    margin-left: 2%;
    margin-top: -22px;
  }

  .fleche-pop {
    margin-left: 7%;
  }

  .description {
    padding-left: 125px;
  }

  .carte-pop {
    width: 90%;
  }

  .photo-pop {
    width: 110px;
  }

  /*Fin mise en place hebergements et populaires */

  /*Mise en place activitées*/

  #section2 {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .titre-act {
    padding-left: 25px;
  }

  .partie1 {
    width: 90%;
    margin-left: 2%;
  }

  .partie2 {
    width: 90%;
    padding-top: 40px;
    margin-right: 40px;
    margin-left: 14%;
  }

  .partie3 {
    width: 90%;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 14%;
  }

  .partie4 {
    width: 90%;
    padding-top: 40px;
    margin-right: 40px;
    margin-bottom: -20px;
    margin-left: 14%;
  }

  /*Fin de mise en place activitées*/

  /*Mise en place footer*/

  footer {
    width: 92%;
    flex-direction: column;
    align-items: center;
    padding-left: 14%;
  }

  #a-propos {
    width: 100%;
    padding-left: 0px;
  }

  #nos-hebergements {
    width: 100%;
    padding-left: 15%;
    padding-top: 5px;
  }

  #assistance {
    width: 100%;
    padding-left: 800%px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  /*Fin mise en place footer*/
}
