/*mise en forme Générale*/

body {
  width: 100%;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1em;
  color: #000;
  margin: auto;
}
/* mise en forme Header*/

/*mise en place logo*/
#parent1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  padding-left: 0;
}

.logo {
  width: 80px;
  height: 60px;
}
/*Fin mise en place logo*/

/*Mise en place navigation*/
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-top: -40px;
  margin-right: 20px;
}

nav ul li {
  font-size: 0.8em;
  font-weight: 600;
  padding-left: 45px;
}

nav ul a {
  text-decoration: none;
  color: #000;
}

nav ul a:hover {
  color: #0065fc;
}

.inscription {
  color: #0065fc;
}
/*Fin mise en place navigation*/

/*Mise en place des textes du header*/
#parent2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  line-height: 10px;
}

#parent2 h1 {
  font-size: 1.2em;
  font-weight: 600;
}

#parent2 p {
  font-size: 0.8em;
  font-weight: normal;
}
/*Fin mise en places des textes du header*/

/*Mise en plce du formulaire*/
form {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  height: 30px;
}

form input {
  border: 1px solid #f2f2f2;
}

form i {
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 30px;
  height: 30px;
}

form button {
  background-color: #0065fc;
  color: #fff;
  border: 1px solid #f2f2f2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000c;
  font-size: 0.8em;
}
/*Fin de la mise en place du formulaire*/

/*Mise en place des filtres*/

#filtres {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

#filtres p {
  font-weight: bold;
  margin-top: 22px;
}

#filtres ul {
  display: flex;
  list-style-type: none;
}

#filtres li {
  width: 160px;
  height: 35px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
}

#filtres ul a {
  font-size: 0.8em;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

#filtres i {
  background-color: #deebff;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
}
/*Fin de la mise en place des filtres*/

/*Mise en place de la ligne info*/
#parent3 {
  display: flex;
  justify-content: flex-start;
  margin-top: -12px;
}
/*Fin de la mise en place de la ligne info*/
