/*Mise en forme du footer*/
footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  width: 1500px;
  height: 150px;
  margin-top: 50px;
}

footer a {
  color: #000;
  list-style-type: none;
  text-decoration: none;
  line-height: 2em;
}

#a-propos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 230px;
}

#nos-hebergements {
  display: flex;
  flex-direction: column;
  margin-right: 230px;
}

#assistance {
  display: flex;
  flex-direction: column;
}

/*Fin de mise en forme du footer*/
